@charset "UTF-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  background: #000;
  font: 17px/1.4 "orbitron";
  letter-spacing: 1px;
  color: #ddd;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  // perspective : 3d를 형태로 작업할거라서 자식요소에3d표시되려면 부모요소에 강제로 원근감을 지정
  perspective: 1300px;

  // wrap 직계 자속에만 하겠다 > 꺽새
  > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

  #circle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -400px;
    width: 600px;
    height: 800px;


    article {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;

      // 공통 UI
      .inner {
        width: 100%;
        height: 100%;

        > div {
          position: relative;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, .4);
          border: 1px solid rgba(255, 255, 255, .5);
          box-sizing: border-box;
          padding: 50px;
          overflow: hidden;
          cursor: pointer;
          opacity: 0.7;
          transition: -0.5s;

          &:hover {
            opacity: 1;
            transform: scale(1.03);
          }
        }
      }

      // 첫 번째 article
      &.face1 {
        .inner {
           div {
              width: 290px;
              height: 254px;
              float: left;
              margin-bottom: 20px;
              text-align: center;

              i {
                color: lightcyan;
                text-shadow: 0 0 10px aqua;
                font-size: 100px;
                opacity: .7;
                transition: 0.5s;
              }
              
              h2 {
                color: lightcyan;
                margin-top: 20px;
                letter-spacing: 2px;
                transition: .5s;
              }

              &:hover {
                i {
                  text-shadow: 0 0 10px aqua;
                  transform: scale(1.2);
                  opacity: 1;
                }

                h2 {
                  text-shadow: 0 0 10px aqua;
                  transform: scale(1.2);

                }
              }


              &:nth-of-type(odd) {
                margin-right: 20px;
             }
          }
        }
      }

      // 두 번째 article
      &.face2 {
        display: block;

        .inner {
          div {
            h2 {
              font: bold 24px/1 "Orbitron";
              color: lightcyan;
              transition: .5s;
            }
            img {
              width: 100%;
              margin-top: 30px;
              margin-bottom: 40px;
            }

            h3 {
              font: bold 20px/1 "Orbitron";
              color: lightcyan;
              margin-bottom: 20px;
              transition: .5s;
            }

            p {
              font: 18px/1.3 "arial";
              color: #ccc;
            }

            &:hover {
              h2, h3{
                color: lightcyan;
                text-shadow: 0 0 10px aqua;
              }
            }
          }
        }
      }


    }
  }
}