@charset "UTF-8";
@import"reset";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap');

main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, violet, cornflowerblue);
  overflow: hidden;

  .swiper-wrapper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      position: relative;
      top: 50%;
      margin-top: -250px;
      width: 500px;
      height: 500px;
      border: 1px solid #fff;

      .inner {
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 30px;

        .con {
          position: relative;

          img {
            width: 100%;
          }

          h2 {
            font: nomal 40px/1 "roboto";
            color: #111;
            margin-top: 20px;
            margin-bottom: 20px;

            &::before {
              content: "";
              display: block;
              width: 30px;
              height: 1px;
              background: #888;
              margin-bottom: 10px;
              transition: 1s;
            }
          }

          p {
            font: 14px/1.3 "arial";
            color: #777;
          }
        }
      }
    }
  }
}