@charset "UTF-7";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap');


main {
  display: flex;
  width: 100%;
  height: 100vh;

  header {
    display: flex;
    justify-content: center;
    // 줄 바꿈 속성 추가
    flex-wrap: wrap;
    // wrap -> content 사용
    align-content: space-between;
    width: 20%;
    height: 100%;
    padding: 10vh 5vw;

    h1 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      color: #fff;
      i {
        font-size: 5vw;
        margin-bottom: 15px;
      }

      span {
        // wrap줬는데 줄바꿈이 안되서 width : 100% 주면 줄바꿈
        width: 100%;
        text-align: center;
        font: normal 0.8vw/1 "arial";
      }
    }
    
    p {
      font: normal 11px/1.2 "arial";
      color: #888;
      text-align: center;
    }
  }

  section {
    display: flex;
    width: 80%;
    height: 100%;
    padding-top: 10vh;

    article {
      position: relative;
      // 플랙스 비율 설정 하는 법
      flex: 1;
      transition: .5s;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 80;
        left: -100%;
        opacity: 0;
        transition: 1s;
        width: 80%;
        height: 95%;
        background-color: #444;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, .1);
      }

      .inner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        width: 100%;
        height: 100%;
        padding: 50px 30px 100px;

        .txt {
          padding-top: 90px;
          transition: 1s;

          h2 {
            font: normal 2vw/1 "Alegreya Sans SC";
            color: #fff;
            margin-bottom: 40px;
            transition: 1s;

            &::after {
              content: "";
              display: block;
              width: 40px;
              height: 2px;
              background-color: #777;
              margin-top: 20px;
              transition: 1.5s;
            }
          }

          p {
            font: 14px/1.4 "arial";
            color: #777;
          }
        }

        figure {
          position: relative;
          top: 0;
          width: 100%;
          height: 15vh;
          overflow: hidden;
          transition: .5s;
          box-shadow: 10px 10px 30px rgba(0, 0, 0, .1);
          filter: saturate(.2);

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &:hover {
        flex: 1.3;

        &::before {
          left: 0;
          opacity: 1;
        }

        .inner {
          .txt {
            padding-top: 20px;

            h2 {
              font-size: 5vw;

              &::after {
                width: 120px;
                background-color: orange;
              }
            }
          }

          figure {
            top: 25px;
            height: 20vh;
            filter: saturate(1.2);
          }
        }
      }
    }
  }

  nav {
    position: absolute;
    top: 4vh;
    right: 5vw;
    border: 10px solid aqua;

    ul {
      display: flex;

      li {
        margin: 15px;

        a {
          font-size: 18px;
          color: #bbb;
        }
      }
    }
  }
}

